/*Selector de etiqueta*/

/*Selector de tipo ID*/
#cabeceraweb {
    background-color: aquamarine;
}

#navegacionprincipal {
    background-color: burlywood;
}

#barralateral {
    background-color: chocolate;
    float: left;
    height: 1340px
}

#contenidoprincipal {
    background-color: cadetblue;
    margin-left: 205px;
    padding-left: 5px;
    padding-top: 5px;
}

#pieprincipal {
    background-color: cornflowerblue;
    clear: both;
    margin-top: 20px;
}

li {
    background-color: aliceblue;
    display: inline;
}




